body, html {
  height: 100%;
  width: 100%;
}

#Page1{
  background-image:url("https://wallpaperscraft.com/image/black_light_dark_figures_73356_1920x1080.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: 100% 100%;
  padding-top:50px;
  padding-bottom:50px;
  margin-left:-15px;
  margin-right:-15px;
  overflow-x:hidden;
}

#Page2
#Page4
#Page6{
  background-color:white;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  margin-top:-15px;
  margin-left:-15px;
  margin-right:-15px;
  padding: 0 10px 0 10px;
  height:100%;
  overflow-x:hidden;
}

#Page3{
  background-image:url("https://wallpaperscraft.com/image/black_light_dark_figures_73356_1920x1080.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: 100% 100%;
  padding-top:50px;
  padding-bottom:50px;
  margin-left:-15px;
  margin-right:-15px;
  overflow-x:hidden;
}

#Page5{
  background-image:url("https://wallpaperscraft.com/image/black_light_dark_figures_73356_1920x1080.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: 100% 100%;
  padding-top:50px;
  padding-bottom:50px;
  margin-left:-15px;
  margin-right:-15px;
  overflow-x:hidden;
}

#Page7{
  background-image:url("https://wallpaperscraft.com/image/black_light_dark_figures_73356_1920x1080.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: 100% 100%;
  padding-top:50px;
  padding-bottom:50px;
  margin-left:-15px;
  margin-right:-15px;
  overflow-x:hidden;
}

.font-nav{
  font-family:'Mina';
}

.nav.navbar-nav.navbar-right a {
    color: white;
}

.nav.navbar-nav.navbar-right a:hover {
    color: #ff1a1a;
}

.navbar-inverse .navbar-brand {
  color: white;
}

nav a:hover{
  color: #ff1a1a !important;
}

.header{
  width:70%;
  margin: 0 auto;
  padding-bottom: 30vh;
  padding-top: 25vh;
}

.maintxt{
  color:white;
  font-family:'Mina', serif;
  text-align:center;
  font-size:10vw;
  width:100%;
  margin-bottom:0px;
}

.introtxt{
  color:white;
  font-family:'Mina', sans-serif;
  font-size:2.5vw;
}

.icons{
  display:inline-block;
  font-size:30px;
  color:white;
}

#iconlink a{
  color:white;
  text-decoration:none;
}

#iconlink a:hover{
  color:#ff1a1a;
}

.aboutmetitle{
  padding:0.5em 0 0.5em 0;
  font-family:'Mina', serif;
}

.aboutme{
  font-size:20px;
  font-family:'Titillium Web', sans-serif;
}

div.aboutme p{
  padding-top:20px;
}

.imageprop{
  padding:0 0 0 0;
}

.subtitles{
  font-size:5vw;
  font-family:'Mina', serif;
  color:white;
}

.projtitle p{
  position:relative;
  font-family:'Mina', serif;
  padding:0 0 0 0;
  font-size:24px;
}

.projdsc{
  font-size:16px;
  font-family:'Titillium Web', sans-serif;
}

a.link{
  color:black;
  text-decoration:none;
}

a:visited.link{
  color:black;
  text-decoration:none;
}

a:hover.link{
  color:#ff1a1a;
  text-decoration:none;
}

#Page7 p{
  display:inline;
}

#footer a{
  color:white;
  text-decoration:none;
}

#footer a:hover{
  color:#ff1a1a;
}

.list{
  font-family:'Ubuntu', sans-serif;
  font-size:16px;
}
