.navlink {
	color: #999;
}

.navlink:hover{
	color:white;
	text-decoration: none;
}

.navbar-trans{
	background: transparent;
	border-color: transparent;
}

.navbar-trans-lg{
	min-height: 100px;
	background: transparent;
	border-color: transparent;
	transition: 0.4s;
}

.navbar-trans-xs{
	min-height: 30px;
	transition: 0.4s;
}

/*
.navbar-collapse-xs{
	background: red;
	border-color: transparent;
} */

.navbrand-font-lg {
	padding-top: 40px;
	font-size: 30px;
	transition: 0.4s;
}

.navbrand-font-xs {
	padding-top: 15px;
	font-size: 20px;
	transition: 0.4s;
}

.navbar-right-lg{
	padding-top: 25px;
	transition: 0.4s;
}

.navbar-right-xs{
	transition: 0.4s;
}
