.section-break-portfolio{
	background: black;
	height: 100px;
	text-align: center;
	padding-top: 0px;
	margin-top: -20px;
}

.section-break-text-portfolio{
	padding-top: 29px;
	color: white;
}

.section-break-border-portfolio{
	border-color: white;
	border-width: 3px; 
	margin-left: 5%;
}

.section-break-experience{
	background: white;
	height: 100px;
	text-align: center;
	padding-top: 0px;
	margin-top: -20px;
}

.section-break-text-experience{
	padding-top: 29px;
	color: black;
}

.section-break-border-experience{
	border-color: black;
	border-width: 3px; 
	margin-left: 5%;
}
