body {
  margin: 0;
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.intro{
	color: #fff;
	padding: 120px 20px 30px 14px;
	font-size: 50px;
}

.intro p{
	display: inline-block;
}

/* Contact START */

.contact{
	background: black;
	color: white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 20px; 
	margin-top: 0px;
	margin-bottom: -20px;
}

.contact-link{
	font-size: 40px;
	margin-bottom: -10px;
}

.contact-link a{
	color: white;
	padding-left: 5px;
}

.contact-link a:hover{
	color: red;
	transition: 0.5s;
}

.contact-icons {
	font-size: 27px;
}

.contact-icons a{
	color: white;
	padding-left: 5px;
}

.contact-icons a:hover{
	color: red;
	transition: 0.5s;
}
/* Contact END */

/* Section Break START */

.section-break-portfolio{
	background: black;
	height: 100px;
	text-align: center;
	padding-top: 0px;
	margin-top: -20px;
}

.section-break-text-portfolio{
	padding-top: 29px;
	color: white;
}

.section-break-border-portfolio{
	border-color: white;
	border-width: 3px; 
	margin-left: 5%;
}

.section-break-experience{
	background: white;
	height: 100px;
	text-align: center;
	padding-top: 0px;
	margin-top: -20px;
}

.section-break-text-experience{
	padding-top: 29px;
	color: black;
}

.section-break-border-experience{
	border-color: black;
	border-width: 3px; 
	margin-left: 5%;
}

/* Section Break END */

/* Skills START */

.icon-bg-style{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: red;
	display: inline-block;
}

.icon-style-code{
	position: relative;
	padding-top: 26%;
	padding-left: 20%;
	font-size: 25px;
	color:white;
}

.icon-style-dev{
	position: relative;
	padding-top: 21%;
	padding-left: 20%;
	font-size: 30px;
	color:white;
}

.icon-style-fw{
	position: relative;
	padding-top: 20%;
	padding-left: 27%;
	font-size: 30px;
	color:white;
}

.skills-text{
	display:inline-block;
	position: relative; 
	padding:0px 0px 10px 10px;
	bottom: 5px;
	font-size:20px;
}

/* Skills END */

/* About START */

.resume-pad{
	padding-left: 12px;
}

.icon-item{
	padding-left: 3px;
}

.icons {
	font-size: 27px;
}

.icons a{
	color: black;
}

.icons a:hover{
	color: red;
	transition: 0.5s;
}

.about{
	color: black;
	text-align: left;
	padding: 20px 0px 20px 0;
}

/* About END */


/* Navbar style START */
.navlink {
	color: #999;
}

.navlink:hover{
	color:white;
	text-decoration: none;
}

.navbar-trans{
	background: transparent;
	border-color: transparent;
}

.navbar-trans-lg{
	min-height: 100px;
	background: transparent;
	border-color: transparent;
	transition: 0.4s;
}

.navbar-trans-xs{
	min-height: 30px;
	transition: 0.4s;
}

/*
.navbar-collapse-xs{
	background: red;
	border-color: transparent;
} */

.navbrand-font-lg {
	padding-top: 40px;
	font-size: 30px;
	transition: 0.4s;
}

.navbrand-font-xs {
	padding-top: 15px;
	font-size: 20px;
	transition: 0.4s;
}

.navbar-right-lg{
	padding-top: 25px;
	transition: 0.4s;
}

.navbar-right-xs{
	transition: 0.4s;
}

/* Navbar style END */

/* Portfolio Style START */

.filter-button-style{
	padding-top: 20px;
	padding-bottom: -10px;
	text-align: center;
}


/* 5 FOR MOBILE (sm) 10 FOR PC (lg) */

.project-padding-sm{
	padding: 5px 5px 5px 5px;
}

.blog-padding-sm{
	padding: 5px 5px 5px 5px;
}

.project-padding-lg{
	padding: 10px 10px 10px 10px;
}

.blog-padding-lg{
	padding: 10px 10px 10px 10px;
}

.no-padding{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 1px;
	padding-bottom: 0px;
}

.portfolio-style{
	background: black;
}

.my-gallery-class{
	width:100%;
	list-style-type: none;
}

.blog{
	display: none;
	padding: 0px;
}

.project{
	display: none;
	padding: 0px;
}

/* bottom = 12 for mobile! */
.link-style-sm {
	text-align: right;
	bottom: 14px;
	right: 15px;
	position: absolute;
}

.link-style-lg {
	text-align: right;
	bottom: 17px;
	right: 19px;
	position: absolute;
}


.blog-style a{
	color: red;
}

.blog-style a:hover{
	color: black;
}

.project-style a{
	color: blue;
}

.project-style a:hover{
	color: black;
}


/* Portfolio Style END */

/* Timeline START */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 5%;
  margin-left: -3px;
}

.timeline-element {
  padding: 10px 40px;
  padding-left: 36px;
  position: relative;
  background-color: inherit;
  width: 100%;
}


/* The circles on the timeline */
.timeline-element::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 5%;
  text-align: left;
}

.right::after {
  left: -20px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: #777;
  position: relative;
  border-radius: 6px;
  color: white;
}

/* arrows */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 26px;
  width: 0;
  z-index: 1;
  left: 25px;
  border: medium solid #777;
  border-width: 10px 10px 10px 0;
  border-color: transparent #777 transparent transparent;
}

@media screen and (max-width: 800px) {

  .intro{
	color: #fff;
	padding: 100px 20px 30px 20px;
	font-size: 50px;
  }

   .intro p{
	 display: block;
  }

}
/* Timeline END */