body {
  margin: 0;
  background: #222;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.intro{
	color: #fff;
	padding: 120px 20px 30px 14px;
	font-size: 50px;
}

.intro p{
	display: inline-block;
}

@media screen and (max-width: 800px) {

  .intro{
	color: #fff;
	padding: 100px 20px 30px 20px;
	font-size: 50px;
  }

   .intro p{
	 display: block;
  }

}
